html,
body {
  margin: 0;
  height: 100vh;
  color: #353535;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
}x

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

th { background-color: white }